body{
    background-color: aqua;
}
#sopra{
    height: 70px;
    width: 100vw;
    background-color: black;
    position: relative;
    top:-25px;
    left: -10px;
    z-index: 0;
}
#sopra h1{
    z-index: 1;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    position: relative;
    top: 10px;
}
#squadre{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.Pat{
    width: 300px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin: 0 auto;

    background-size: 350px;
    background-position: 70%;

    overflow: hidden;
}
.PatS{
    
    width:100%;
    height: 100%;
    background:  linear-gradient(0deg, rgb(255, 0, 0) 0%, rgba(255, 0, 0, 0.411) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.PatS:hover{
    opacity: 1;
}
.PatS:hover .PatS p , .PatS:hover .PatTB {
    transform: translateY(0);
}

.PatS p{
    color:white;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.PatTB{
    width: fit-content;
    padding: 7px 20px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.PatTB:hover{
    background-color: #ae00ff;
    border: solid #ae00ff 2px;
}
a{
    text-decoration: none;
}
.Tec{
    width: 300px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin: 0 auto;

    background-size: 350px;
    background-position: 70%;

    overflow: hidden;
}
.TecS{
    
    width:100%;
    height: 100%;
    background:  linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(0, 26, 255, 0.432) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.TecS:hover{
    opacity: 1;
}
.TecS:hover .TecS p , .Tec:hover .TecTB {
    transform: translateY(0);
}

.TecS p{
    color:white;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.TecTB{
    width: fit-content;
    padding: 7px 20px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.TecTB:hover{
    background-color: #ae00ff;
    border: solid #ae00ff 2px;
}
.Jho{
    width: 300px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin: 0 auto;

    background-size: 350px;
    background-position: 70%;

    overflow: hidden;
}
.JhoS{
    
    width:100%;
    height: 100%;
    background:  linear-gradient(0deg, rgb(17, 145, 0) 0%, rgba(0, 138, 18, 0.432) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.JhoS:hover{
    opacity: 1;
}
.JhoS:hover .JhoS p , .Jho:hover .JhoTB {
    transform: translateY(0);
}

.JhoS p{
    color:white;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.JhoTB{
    width: fit-content;
    padding: 7px 20px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.JhoTB:hover{
    background-color: #ae00ff;
    border: solid #ae00ff 2px;
}
.Luk{
    width: 300px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin: 0 auto;

    background-size: 350px;
    background-position: 70%;

    overflow: hidden;
}
.LukS{
    
    width:100%;
    height: 100%;
    background:  linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.432) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.LukS:hover{
    opacity: 1;
}
.LukS:hover .LukS p , .Luk:hover .LukTB {
    transform: translateY(0);
}

.LukS p{
    color:white;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.LukTB{
    width: fit-content;
    padding: 7px 20px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.LukTB:hover{
    background-color: #ff0000;
    border: solid #ff0000 2px;
}
#spieg{
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
}